* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    border: 1px solid red;
}

body {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto 1fr;
}

/* The hidden form section which is used to create a book object */
.book-form {
    display: none;
    width: 100vw;
    height: 100vh;
    background-color:rgba(22, 26, 22, 0.5);
}

/* Header section */
body > header {
    grid-row: 1;
    grid-column: span 2;
    color: goldenrod;
}

/* Navigation section */
body > nav {
    grid-row: 2;
    grid-column: 1;
}

/* Main content section */
body > main {
    grid-row: 2;
    grid-column: 2;
    min-height: 80vh;
}

/* Footer section */
body > footer {
    grid-row: 3;
    grid-column: span 2;
}