html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

header, footer {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.books {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: orange;
    height: 800px;
}

.addBookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 16px;
    border-radius: 16px 0 0 16px;
}

.displayBookContainer {
    display: flex;
    justify-content: left;
    align-items: flex-start;
    flex-wrap: wrap;
}

.bookBox {
    width: 100px;
    height: 150px;
    margin: 8px;
    background-color: gray;
}