html, body {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

header, footer {
    background-color: gray;
    display: flex;
    align-items: center;
    justify-content: center;
}

.books {
    display: flex;
    justify-content: space-between;
    background-color: orange;
    height: 800px;
}

.addBookContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: gray;
    padding: 16px;
    border-radius: 16px 0 0 16px;
}

.displayBookContainer {
    display: flex;
    flex-wrap: wrap;
    border: 3px solid black;
    margin: 16px;
    width: 896px;
    padding: 8px;
}

.bookBox {
    margin: 8px;
    width: 200px;
    height: 200px;
    background-color: gray;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 3px solid black;
}

.formContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.formContainer div {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}